<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>HRIS? More like HRI-YES</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>
  <body>
    <!-- Navbar along the top -->
    <div id="future_navbar">
 
        <ul id="left_links">
        {% if user.is_authenticated %}
          <li>Welcome, {{ user.first_name }} {{ user.last_name }}</li>
          <li><a href="/hris/">Dashboard</a></li>
          <li><a href="/hris/submit">Request Time Off</li>
          <li><a href="/hris/my_requests/">My Time Off Status</a></li>
        </ul>  
        <!-- need to float the links below to the right... -->
        <ul id="right_links">
          {% if hr_user %}
            <li><a href="/hris/add_employee">Add New Employee</a></li>
          {% endif %}
          {% if hr_user or mgr_user %}
            <li><a href="/hris/timeoff/pending">View Pending Requests</li>
            <li><a href="/hris/timeoff/approved">View Approved Requests</li>
            <li><a href="/hris/timeoff/denied">View Denied Requests</li>
          {% endif %}
          <li><a href="/hris/logout">Logout</a></li>
        {% else %}

          <li><a href="/hris/login">Login</a></li>
        </ul>
        {% endif %}
    
    </div>  
     <!-- End of Navbar -->
     <!-- Search bar on the side -->
    <div id="sidebar">
      {% if hr_user or mgr_user %}
        {% if employee_list %}
          <p>Search Employees</p>
          <form>
          <input type="text" name="suggestion" value="" id="suggestion" />
          </form>
      
         <div id="emps">
          {% include "hris_system/employee_list.html" with employee_list=employee_list %}
         </div>
        {% endif %}
      {% endif %}
    </div>
     <!-- End search bar-->

     <!-- Begin body -->
     <div id="body">
    {% block body_block %}
    {% endblock %}
		</div>
		<!--End body -->

  </body>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/hris-ajax.js' %}"></script>
</html>