{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}

<div>
	{% if employee %}
	<h1>Employee Details</h1>
	<h3> {{ employee.first_name }} {{ employee.last_name }} - {{ employee.position }}</h3><br/>
		{% if hr_user %}
	<ul>
		<li><h4>Status: {{ employee.status }}</h4></li>
		<li><h4>Department: {{ employee.department }}</h4></li>
		<li><h4>Hired: {{ employee.hire_date}} </h4></li>
		<li><h4>Phone: {{ employee.phone_number }}</h4></li>
		<li><h4>Street Address: {{ employee.address }}</h4></li>
		<li><h4>City: {{ employee.city }}</h4></li>
		<li><h4>State: {{ employee.state }}</h4></li>
		<li><h4>Zipcode: {{ employee.zipcode }}</h4></li>
	</ul>
		
		<a href="/hris/employee/{{ employee.id }}/edit/"><button type="button">Edit Employee Info</button></a> 
		
		{% endif %}
	{% endif %}
</div>

<div id="schedule">
		{% if hr_user or mgr_user %}
		<h2>Employee Schedule</h2>
			<ul>
				<li>Monday -- Arrives: {{ employee.schedule.monday_in }} || Leaves: {{ employee.schedule.monday_out }}</li>
				<li>Tuesday -- Arrives: {{ employee.schedule.tuesday_in }} || Leaves: {{ employee.schedule.tuesday_out }}</li>
				<li>Wednesday -- Arrives: {{ employee.schedule.wednesday_in }} || Leaves: {{ employee.schedule.wednesday_out }}</li>
				<li>Thursday -- Arrives: {{ employee.schedule.thursday_in }} || Leaves: {{ employee.schedule.thursday_out }}</li>
			</ul>
		{% endif %}	
		{% if mgr_user %}
		<a href="/hris/employee/{{ employee.id }}/schedule/edit/"><button type="button">Edit Schedule</button></a>	
		{% endif %}
	
</div>

{% endblock %}