{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}

<!-- Dashboard -->
<div>
	<h1>Dashboard</h1>

</div>
<!-- end Dashboard -->

<div>
{% if hr_user or mgr_user %}
	<h4>Recent Hires</h4>
	{% if employees %}
	
	<ul>
		{% for e in employees %}
			<li><a href="/hris/employee/{{ e.id }}">{{ e.last_name }}, {{ e.first_name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endif %}		
</div>	

<div class="analytics">
	{% if hr_user %}
	<h2>Analytics</h2>
	<h4>Hire Date Frequencies</h4>
			<img src="{% static "graph.png" %}" />
	{% endif %}	
</div>

{% if user.is_authenticated %}
<div class="schedule">
	<h2>Your Schedule</h2>
		<table class="table">
			<tr>
				<th>Day</th>
				<th>Scheduled In</th>
				<th>Scheduled Out</th>
			</tr>
			<tr>
				<td>Monday</td>
				<td>{{ employee.schedule.monday_in }}</td>
				<td>{{ employee.schedule.monday_out }}</td>
			</tr>	
			<tr>
				<td>Tuesday</td>
				<td>{{ employee.schedule.tuesday_in }}</td>
				<td>{{ employee.schedule.tuesday_out }}</td>
			</tr>
			<tr>
				<td>Wednesday</td>
				<td>{{ employee.schedule.wednesday_in }}</td>
				<td>{{ employee.schedule.wednesday_out }}</td>
			</tr>
			<tr>
				<td>Thursday</td>
				<td>{{ employee.schedule.thursday_in }}</td>
				<td>{{ employee.schedule.thursday_out }}</td>
			</tr>
			<tr>
				<td>Friday</td>
				<td>{{ employee.schedule.friday_in }}</td>
				<td>{{ employee.schedule.friday_out }}</td>
			</tr>			
			<tr>
				<td>Saturday</td>
				<td>{{ employee.schedule.saturday_in }}</td>
				<td>{{ employee.schedule.saturday_out }}</td>
			</tr>	
			<tr>
				<td>Sunday</td>
				<td>{{ employee.schedule.sunday_in }}</td>
				<td>{{ employee.schedule.sunday_out }}</td>
			</tr>		
		</table>
</div>		
{% endif %}
{% endblock %}	