{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}

<!-- Dashboard -->
<div>
	<h1>Dashboard</h1>

</div>
<!-- end Dashboard -->

<div>
	{% if hr_user or mgr_user %}
	<h4>Recent Hires</h4>
	{% if employees %}
	
	<ul>
		{% for e in employees %}
			<li><a href="/hris/employee/{{ e.id }}">{{ e.last_name }}, {{ e.first_name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endif %}		
</div>	

<div class="analytics">
	{% if hr_user or mgr_user %}
	<h2>Analytics</h2>
	<h4>Hire Date Frequencies</h4>
		<ul>
			<li>JAN: {{ hire_date_freq.Jan }}</li>
			<li>FEB: {{ hire_date_freq.Feb }}</li>
			<li>MAR: {{ hire_date_freq.Mar }}</li>
			<li>APRIL: {{ hire_date_freq.Apr }}</li>
			<li>MAY: {{ hire_date_freq.May }}</li>
			<li>JUNE: {{ hire_date_freq.June }}</li>
			<li>JULY: {{ hire_date_freq.July }}</li>
			<li>AUG: {{ hire_date_freq.Aug }}</li>
			<li>SEPT: {{ hire_date_freq.Sept }}</li>
			<li>OCT: {{ hire_date_freq.Oct }}</li>
			<li>NOV: {{ hire_date_freq.Nov }}</li>
			<li>DEC: {{ hire_date_freq.Dec }}</li>
		</ul>
	{% endif %}	
</div>
{% endblock %}	