{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}

<!-- Dashboard -->
<div>
	<h1 class="centered">Dashboard</h1>

</div>
<!-- end Dashboard -->

<!-- Employee Analytics -->

<div>
	{% if hr_user or mgr_user %}
	<h4>Recent Hires</h4>
	{% if employees %}
	
	<ul>
		{% for e in employees %}
			<li><a href="/hris/employee/{{ e.id }}">{{ e.last_name }}, {{ e.first_name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endif %}		
</div>	

<!-- end Analytics -->

{% endblock %}	