{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}
<div>
	<h1>Time Off Request Status</h1>

	{% if timeoff_requests %}
	<h3>{{ status }} REQUESTS</h3>
		<div id="requests">	
			<table class="table">
				<th>Last Name</th>
				<th>First Name</th>
				<th>Position</th>
				<th>Start Date</th>
				<th>End Date</th>
				{% if buttons %}
				<th>Action</th>
				{% else %}
				<th>Handled By</th>
				{% endif %}

				{% for request in timeoff_requests %}				
				<tr>
					<td>{{ request.employee.last_name }}</td>
					<td>{{ request.employee.first_name }}</td>
					<td>{{ request.employee.position }}</td>
					<td>{{ request.date_start }}</td>
					<td>{{ request.date_end }}</td>
					
					<td>
						{% if buttons %}
						<button class="approve" data-reqid="{{ request.id }}" data-approvedeny="APPROVED" type="button">Approve</button>
						<button class="deny" data-reqid="{{ request.id }}" data-approvedeny="DENIED" type="button">Deny</button>
						{% else %}
						{{ request.handler }}
						{% endif %}
					</td>
				</tr>
				{% endfor %}		
			</table>	
		</div>
	{% else %}
	<h3>NO REQUESTS</h3>	
	{% endif %}	
</div>

{% endblock %}