{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}
<div>
	<h1>Time Off Request Status</h1>

	{% if timeoff_requests %}
	<h3>{{ status }} REQUESTS</h3>
		<div id="requests">	
			<ul>
			{% for request in timeoff_requests %}
				<li><strong>{{ request.employee.last_name }}, {{ request.employee.first_name }}</strong>: {{ request.employee.position }} -- START: {{ request.date_start }} | END: {{ request.date_end }} 
				{% if buttons %}			
				<button class="approve" data-reqid="{{ request.id }}" data-approvedeny="APPROVED" type="button">Approve</button>
				<button class="deny" data-reqid="{{ request.id }}" data-approvedeny="DENIED" type="button">Deny</button>
				{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}	
</div>

{% endblock %}