{% extends 'hris_system/base.html' %}
{% block title %}{% endblock %}
{% block body_block %}
{% load static %}

<div>
	<h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
	<h3>Please update your password.</h3></br>
	<h5>Note: Passwords must be at least 8 characters long.</h5>
	{% if failed_attempt %}
	<h4>Invalid Password</h4>
	{% endif %}

	<div>
		<form id="login_form" method="POST" action="/hris/update_password/">
			{% csrf_token %}
			New Password: <input type="password" name="new_password" value="" size="50" />
			<br/>
			Confirm New password: <input type="password" name="new_password_confirm" value="" size="50" />
			<br/>

			<input type="submit" value="submit" />
		</form>	
	</div>
</div>

{% endblock %}